<a href="https://colab.research.google.com/github/yamuna009/devops-master-class/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Difference between array and List

In [ ]:
import numpy as np

In [ ]:
l= [1,2,3]

In [ ]:
Arr = np.array([1,2,3])

In [ ]:
l.append(4)  #we can change size of a list mutable
print(l)

In [ ]:
#Arr.append(5)   #size of an array is fixed we can change it

In [ ]:
#trying other ways to append

In [ ]:
l + [5]
print(l)

In [ ]:
print(Arr + np.array([4]))

In [ ]:
print(Arr + np.array([4,5,6]))

In [ ]:
print(l + l)   # we can double the list

In [ ]:
print(l*2)   # we can double the list

In [ ]:
print(Arr + Arr)  # we can't double the array

In [ ]:
print( Arr * 2) # we can't double the array

In [ ]:
l2 = [7,8,9,10]
print(l + l2)

In [ ]:
l3 =[]
for e in l:
  l3.append(e+3)
print(l3)

In [ ]:
for e,i in zip(l,l2):
  l.append(e+i)
print(l)

First Iteration:
e = 1, i = 7
e + i = 1 + 7 = 8
l.append(8) changes l to [1, 2, 3, 4, 8]

Second Iteration:
e = 2, i = 8 --
e + i = 2 + 8 = 10 --------
l.append(10) changes l to [1, 2, 3, 4, 8, 10]

Third Iteration:
e = 3, i = 9   ----
e + i = 3 + 9 = 12   ----
l.append(12) changes l to [1, 2, 3, 4, 8, 10, 12]

In [ ]:
print([e+3 for e in l])

In [ ]:
#we can't do **
#print(l**2)

--------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-20-40f9e96b629c> in <cell line: 2>()
      1 #we can't do **
----> 2 print(l**2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [ ]:
L4 = []
L2 =[1,2,3]
for e in L2:
  L4 = L2.append(e**2)
print(L4)

In [ ]:
print(Arr ** 2)  # this is the advantage of numphy